@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Rubkit", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #181819;
  border-radius: 10px;
  border: #4a4a4a solid 0.5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2ea423;
  border-radius: 10px;
}
